@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', cursive;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#preloader{
    background: url('preloader.gif');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

::selection{
    background-color: #f5a425;
}

span, .nav-link a:hover {
    color: #f5a425 !important;
}

.d-flex input[type=search]{
    font-family: 'Courier New', Courier, monospace;
}

.d-flex button{
    outline: none;
    border: none;
    background: black;
}

.d-flex button:hover{
    background: rgba(0, 0, 0, 0.76);
}


#home {
    height: 90vh;
    background-color: rgba(22, 34, 57, 0.95);
}

.content{
    position: relative;
    top: -448px;
    left: 35%;
    color: white;

}

.content h3{
    font-size: 1.2rem;
    margin-bottom: 23px;
}

.content h1{
    position: relative;
    left: -3%;
    font-size: 3.1rem;
}

.img {
    background-size: cover;
    background-color: rgba(22, 34, 57, 0.95);
    background-attachment: scroll;
    z-index: 1;
}

.img img{
    min-width: 100%;
    min-height: 100%;
    max-height: 90vh;
    object-fit: cover;
}


#home .content{
    position: relative;
    top: -68%;
    left: 47%;
    color: white;
    letter-spacing: .05rem;
}

#home .content-h1{
    position: relative;
    top: 22px;
    left: -2em;
    font-size: 5.4rem;
    margin-bottom: 21px;
}

.submit-button{
    border: 2px solid #f5a425;
    background-color: #f5a425;
    color: white;
    cursor: pointer;
    padding: 12px;
    font-weight: 600;
}

#home .submit-button{
    position: relative;
    left: -46px;
    bottom: -264px;
}

#home .submit-button a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#home .my-content button a{
    text-decoration: none; 
    color:white;
    font-weight: bold;
}

#features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #232427;
}
#features .my-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}
#features .my-container .my-card{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 15px rgba(255,255,255,0.1),
                5px 5px 15px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;   
    margin: 30px;
}

#features .my-container .my-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}

#features .my-container .my-card .my-box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#features .my-container .my-card .my-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}

#features .my-container .my-card .my-box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}

#features .my-container .my-card .my-box .my-content{
    padding: 20px;
    text-align: center;
}

#features a, #features h2{
    color: white;
    text-transform: uppercase;
}

#features a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    margin-top: 15px;
    border-radius: 20px;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

#features .my-container .my-card:nth-child(1) .my-box .my-content a{
    background: #2196f3;
}
#features .my-container .my-card:nth-child(2) .my-box .my-content a{
    background: #e91e63;
}
#features .my-container .my-card:nth-child(3) .my-box .my-content a{
    background: #97dc47;
}

#features .my-container p{
    font-size: 16px;
    font-weight: 300;
    color: white;
    z-index: 1;
    transition: 0.5s;
}

#about {
    min-height: 100vh;
    background-color: rgba(22, 34, 57, 0.95);
    background: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHBsYWluJTIwd2FsbHBhcGVyfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    transform-style: preserve-3d;
}
.about-container .img-size{
    width: 23%;
}

.nav-link:hover{
    color: #f5a425 !important;
}

#course{
    background: url(https://images.unsplash.com/photo-1621947081720-86970823b77a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMCUyMGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    min-height: 100vh;
    background-color: rgba(22, 34, 57, 0.95);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#course .post-container{
    padding-top: 130px;
}

#course .post-container .post{
    /* width: fit-content;
    height: 200px; */
    width: 300px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    margin: 0 auto;
    padding-bottom: 20px;
}

#course .post-container .post .image img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

#course .post-container .post .course-content{
    padding: 0 20px;   
}

#course .post-container .post .course-content .title{
    font-weight: 600;
    font-size: 22px;
    color: #333;
    text-transform: capitalize;
}

#course .post-container .post:hover .title{
    text-decoration:underline;
}

#course .post-container .post .course-content p{
    font-size: 14px;
    padding: 5px 0;
    color: #666;
}

#course .post-container .post .course-content a{
    display: block;
    color: tomato !important;
    margin-top: 10px;
}

#course .post-container .post .course-content a:hover{
    color: #333 !important;
}

#contact{
    background-color: rgba(22, 34, 57, 0.95);
}

.contact-wrap {
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-in {
	padding: 40px 30px;
}

.contact-in:nth-child(1) {
	flex: 30%;
	color: #fff;
}

.contact-in:nth-child(2) {
	flex: 45%;
	background: #1f2937;
}

.contact-in:nth-child(3) {
	flex: 25%;
	padding: 0;
}

.contact-in h1 {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

.contact-in ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.contact-in ul li a {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #fff;
	border-radius: 50px;
}

.contact-in ul li a i {
	font-size: 14px;
	line-height: 30px;
	color: #000;
}

.contact-in form {
	width: 100%;
	height: auto;
}

.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
	color: #fff;
}

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #fff;
}

.contact-in-btn {
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.contact-in iframe {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}